<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:remove="android:appComponentFactory"
        tools:targetApi="p">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.example.quiettimeapp.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".TimeTable.TimetableSetUpActivity"
            android:exported="true" />
        <activity
            android:name=".GeoFencing.GeoFencing"
            android:exported="true" />
        <activity
            android:name=".Wifi.WifiSetUpActivity"
            android:exported="true" />
        <activity
            android:name=".GeneralLocations.GeneralLocations"
            android:exported="true" />

        <receiver
            android:name=".Wifi.WifiBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".TimeTable.AlarmReceiver" />

        <receiver
            android:name=".GeneralLocations.LocationUpdatesReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.myapp.ACTION_LOCATION_UPDATE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".GeoFencing.GeofenceBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.yourapp.ACTION_GEOFENCE_ENTERED" />
                <action android:name="com.yourapp.ACTION_GEOFENCE_EXITED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>